/* R0331 JavaScript syksy 2020, kolmannen projektin tyylimäärittelyt */
/* (c) Janne Lahdenperä 2020 */
.container {
    margin: 50px;
}

#result {
    padding: 10px;
    box-shadow: 3px 3px;
}

#customDate {
    margin-left: 5px;
    margin-right: 5px;
}

#testButton {
    margin-right: 5px;
    margin-left: 5px;
}

h1 {
    font-size: 40px;
}

@media only screen and (max-width: 780px) {
    h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 425px) {
    h1 {
        font-size: 14px;
    }
}
